@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300&family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: khaki;
}
.App {
  text-align: center;
  justify-content: center;
}
.title {
  font-size: 70px;
  color: #ffff;
  margin-top: 30px;
}
.pagination {
  font-size: 18px;
  margin: 14px 0;
}
.prev {
  height: 30px;
  width: 30px;
  background-color: white;
  border: 1px black;
  cursor: pointer;
}
.Error {
  font-size: 70px;
  color: red;
  margin-top: 30px;
}
.error-link {
  text-align: center;
  cursor: pointer;
}
.error-nav {
  /* text-decoration: none; */

  background-color: black;
  color: #ffff;
}
.animal {
  width: 30%;
  height: 30%;
  border-radius: 10%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-left: 35%;
  margin-top: 5%;
}
.animal-div {
  text-align: center;
  background-color: cornsilk;
  color: #000;
}
.homepag-link {
  cursor: pointer;
}
